.titre{
    font-family: 'Cinzel', serif;
    margin-left: 450px;
}
p{
    font-family: 'Roboto', sans-serif;
}
img.alignleft{
    float: left;
    max-width: 15%;
    margin-left: 450px;
}
img.alignright{
    float: right;
    max-width: 15%;
    margin-right: 200px;
    margin-right: 450px;
}
.italien{
    margin-left: 750px;
    margin-top: 50px;
}
.chevre{
    text-align: right;
    margin-top: 250px;
    margin-right: 750px;
}
.montagnard{
    margin-left: 750px;
    margin-top: 220px;
}
.parfait{
    text-align: right;
    margin-top: 280px;
    margin-right: 750px;
}
.contact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imgspace{
    width: 1900px;
    height: 500px;
}
.spacefont{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 230px;
}
.span{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.lifooter {list-style: none;}

label.Nom{
    padding-left: 300px;
  
  }
  label.Prenom{
    padding-left: 317px;
  }
  input.Nominput{
    margin-left: 300px;
    width: 300px;
   
  
  }
  input.prenominput{
    margin-left: 40px;
    width: 300px;
  
  }

  .form{padding-top: 100px;}

  .adresse{}

  .adresseint{}

  .datedenaissance{
margin-left: 300px;
  }

  .intadressepostale{
      width: 400px;
    height: 100px;
  }

  .adressepostale{    
      margin-left: 300px;
  }
  
  .envoyer{margin-left: 50px;}